<div class="contact view">
    
    <div class="container">
        
        <h2>{{textes.title}}</h2>
        
        <div class="social">
            
            <div class="elmt">
                
                <img src="{{images.mail}}">
                
                <span>{{textes.mail}}</span>
                
            </div>
            
            <div class="elmt">
                
                <img src="{{images.github}}">
                
                <span>{{textes.github}}</span>
                
            </div>
            
            <div class="elmt">
                
                <img src="{{images.twitter}}">
                
                <span>{{textes.twitter}}</span>
                
            </div>
            
            <div class="elmt">
                
                <img src="{{images.linkedIn}}">
                
                <span>{{textes.linkedIn}}</span>
                
            </div>
            
        </div>
        
        <p>{{textes.copyrights}}</p>
        
    </div>
    
</div>