<div class="contact view">
        
        <h2>{{textes.title}}</h2>
        
        <div class="social">
            
            <div class="elmt">
                
                <img src="{{images.mail}}">
                
                <p><a href="{{textes.mail}}">{{textes.mail}}</a></p>
                
            </div>
            
            <div class="elmt">
                
                <img src="{{images.github}}">
                
                <p><a href="{{textes.github}}">{{textes.github}}</a></p>
                
            </div>
            
            <div class="elmt">
                
                <img src="{{images.twitter}}">
                
                <p><a href="{{textes.twitter}}">{{textes.twitter}}</a></p>
                
            </div>
            
            <div class="elmt">
                
                <img src="{{images.linkedIn}}">
                
                <p><a href="{{textes.linkedIn}}">{{textes.linkedIn}}</a></p>
                
            </div>
            
        </div>
        
        <p id="copyrights">{{textes.copyrights}}</p>
    
</div>