<div class="contact view">
        
        <h2>{{textes.title}}</h2>
        
        <div class="social">
            
            <div class="elmt">
                
                <a target="_blank" href="{{textes.mail}}">
                    <img src="{{images.mail}}">                
                    <p>{{textes.mail}}</p>
                </a>
            </div>
            
            <div class="elmt">
                
                <a target="_blank" href="{{textes.github}}">
                    <img src="{{images.github}}">
                    <p>{{textes.github}}</p>
                </a>
                
            </div>
            
            <div class="elmt">
                
                <a target="_blank" href="{{textes.twitter}}">
                    <img src="{{images.twitter}}">
                    <p>{{textes.twitter}}</p>
                </a>
                
            </div>
            
            <div class="elmt">
                
                <a target="_blank" href="{{textes.linkedIn}}">
                    <img src="{{images.linkedIn}}">
                    <p>{{textes.linkedIn}}</p>
                </a>
                
            </div>
            
        </div>
        
        <div class="resume">
            <a type="button" class="btn btn-warning" target="_blank" href="{{cs.link}}">{{cv.texte}}</a>
        </div>
       
        <p id="copyrights">{{textes.copyrights}}</p>
    
</div>