<div class="work view">
    <div class="left-side" id="{{idBackground}}">
        <img src="{{images.laptop1}}" class="workLaptop1">
        <img src="{{images.laptop2}}" class="workLaptop2">
    </div>
        
    <div class="right-side">
        
        <div class="presentation">
            <h2>{{textes.title}}</h2>
            
            <p>{{textes.content}}</p>
            
            <p><a target="_blank" href="{{link}}">More</a></p>
            
            <p>
                {{textes.jobs}}<br>
                {{textes.tools}}
            </p>
        </div>
        
        <div class="pattern" id="{{idPattern}}"></div>
        
    </div>
    
    <div class="pageNum">{{numPage}}</div>
    
</div>