<div class="work view">
    
   <div class="left-side">
       <img src="{{images.background}}" class="workBg">
       <img src="{{images.laptop1}}" class="workLaptop1">
       <img src="{{images.laptop2}}" class="workLaptop2">
   </div>
    
    <div class="right-side">
        
        <h2>{{textes.title}}</h2>
        
        <p>{{textes.content}}</p>
        
        <a href="{{link}}">More</a>
        
        <p>{{textes.jobs}}</p>
        <p>{{textes.tools}}</p>
        
    </div>
    
    <div class="pattern">
        <img src="{{images.pattern}}">
    </div>
    
</div>