<div class="work view">
    <div class="left-side" id="{{idBackground}}">
        <img src="{{images.laptop1}}" class="workLaptop1">
        <img src="{{images.laptop2}}" class="workLaptop2">
    </div>
        
    <div class="right-side">
        
        <div class="presentation">
            <h2>{{textes.title}}</h2>
            
            <p>{{textes.content}}</p>
            
            <a href="{{link}}">More</a>
            
            <p>{{textes.jobs}}</p>
            <p>{{textes.tools}}</p>
        </div>
        
        <div class="pattern" id="{{idPattern}}"></div>
        
    </div>

</div>